/* reset */
a, a:hover, a:visited, a:active, a:focus, button {
  cursor: pointer;
}

label, input[type="checkbox"] {
  cursor: pointer;
}

/* base */
body {
  -webkit-user-select: none;
  color: #808080;
  background-color: #444;
  width: 100%;
  height: 100%;
  font-family:  "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Meiryo, sans-serif;
}

/* layout */
.app-container {
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  bottom: 0;
}

.app-controll {
  background-color: #222;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  padding: 5px;
  white-space: nowrap;
  z-index: 10;
}

.slider-container {
  padding-top: 50px;
  width: 100%;
  overflow-x: scroll;
}


/* component */

.menu-item {
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px 0 20px;
  height: 50px;
}

.menu-item input[type="checkbox"] {
  display: none;
}

.icon {
  transition:0.2s linear all;
  font-size: 45px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  z-index: 30;
}

.icon:hover {
  color: #fff;
}

.icon+.menu-description {
  transition:0.2s linear all;
  font-size: 12px;
  display: block;
  background-color: #222;
  z-index: 0;
  opacity: 0;
  position: absolute;
  border-width: 0 2000px 0 2000px;
  border-style: solid;
  border-color: #222;
  box-sizing: content-box;
  top: 50px;
  padding: 0 20px 0 20px;
  left: 0;
  margin-left: -2000px;
}

.icon:hover+.menu-description {
  opacity: 1.0;
}

.icon-status.on {
  color: #f02000;
}

.icon-camera {
  color: #808080;
}

.icon-camera:hover:active {
  transition:0.2s linear all;
  color: #f02000;
}

input:checked+.icon-twitter {
  color: #f02000;
}

.button {
  background-color: #ffa033;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
}

.image-content {
}

.image-item {
  height: 400px;
  padding: 15px;
  list-style: none;
  display: inline-block;
  position: relative;
  margin-bottom: 75px;
  -webkit-box-reflect: below 5px -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .5)), color-stop(0.2, transparent), to(transparent));
}

.image-group {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  text-align: center;
  vertical-align: bottom;
  white-space: nowrap;
}
.image-item.ng-enter {
  transition:1.0s linear all;
  opacity: 0;
}
.image-item.ng-enter.ng-enter-active {
  opacity: 1.0;
}

.image-item img {
  transition:0.1s linear all;
  height: 100%;
}

video.hidden {
  position: absolute;
  left: -5000px;
}

.account {
  margin-left: 3px;
  display: inline-block;
  vertical-align: middle;
}
.account  img {
  margin-top: 7px;
  width: 32px;
  height: 32px;
}

.account-screen-name {
  display: inline-block;
  margin-top: 25px;
}

