<html ng-app="renderer">
<head>
  <meta charset="UTF-8">
  <!-- inject:css -->
  <link rel="stylesheet" href="../bower_components/sanitize-css/dist/sanitize.css">
  <link rel="stylesheet" href="main.css">
  <!-- endinject -->
  <title></title>
</head>
<body>

<div ng-controller="StarterController as starter">
  <img ng-attr-src="{{starter.account.settings().profile_image_url}}"></img>
  <button ng-click="starter.start()" ng-if="!starter.started">Start Capture and tweet</button>
  <button ng-click="starter.stop()" ng-if="starter.started">Stop Capture and tweet</button>
</div>

<!-- inject:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angularjs/angular.js"></script>
<script src="../bower_components/lodash/lodash.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="renderer/index.js"></script>
<script src="renderer/account.service.js"></script>
<script src="renderer/capture.service.js"></script>
<script src="renderer/main.controller.js"></script>
<script src="renderer/scrollSpy.directive.js"></script>
<script src="renderer/starter.controller.js"></script>
<script src="renderer/timeline.service.js"></script>
<script src="renderer/twitter.service.js"></script>
<!-- endinject -->
</body>
</html>
